numpy==1.26.4
scipy>=1.11.2
torchaudio
soundfile>=0.12.0
librosa>=0.10.2
scikit-learn>=1.3.0
numba==0.55.1;python_version<"3.9"
numba>=0.57.0;python_version>="3.9"
inflect>=5.6.0
tqdm>=4.64.1
anyascii>=0.3.0
pyyaml>=6.0
packaging>=23.1
pandas>=1.4,<2.0
# deps for training
matplotlib>=3.7.0
wandb
trainer
torchmetrics==1.4.3
coqpit
pydub
nnAudio
einops>=0.6.0
termcolor
prettytable
vector_quantize_pytorch
